In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
from scipy.spatial import Voronoi


import tyssue

from tyssue.core.objects import Epithelium
from tyssue.geometry import bulk_geometry as bgeom
from tyssue.core.generation import (data_dicts, make_df,
                                    hexa_grid3d, from_3d_voronoi)
import vispy as vp
from vispy import app, gloo, visuals, scene
from vispy.geometry import MeshData

### Scatter plots of the cell centers

```python
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import seaborn as sns


fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')
ax.scatter(*grid.T, c='k', marker='o')

ax.set_xlabel('X Label')
ax.set_ylabel('Y Label')
ax.set_zlabel('Z Label')

plt.show()
```

In [2]:
grid = hexa_grid3d(16, 14, 3)

datasets = from_3d_voronoi(Voronoi(grid))
eptm = Epithelium('start3D', datasets)

gspecs = eptm.set_geom(bgeom)
bgeom.update_all(eptm)
eptm.cell_df.head()

         x     y  is_alive       vol    z  num_faces  area
cell
0     0.75  0.75         1  0.000000  0.5          4     0
1     1.50  0.75         1  0.020833  0.5          8     0
2     2.50  0.75         1  0.020833  0.5          8     0
3     3.50  0.75         1  0.020833  0.5          8     0
4     4.50  0.75         1  0.020833  0.5          8     0

In [3]:
eptm.cell_df

           z       y       x       vol  num_faces  is_alive  area
cell
0     0.5000  0.7500  0.7500  0.000000          4         1     0
1     0.5000  0.7500  1.5000  0.020833          8         1     0
2     0.6875  0.7500  2.6250  0.000000          4         1     0
3     0.5000  1.5000  0.7500  0.020833          8         1     0
4     0.5000  1.5000  1.5000  0.083333         16         1     0
5     0.6875  1.5000  2.6250  0.052083          8         1     0
6     0.5000  2.5000  0.7500  0.020833          8         1     0
7     0.5000  2.5000  1.5000  0.083333         16         1     0
8     0.6875  2.5000  2.6250  0.052083          8         1     0
9     0.6875  3.6250  0.7500  0.000000          4         1     0
10    0.6875  3.6250  1.5000  0.052083          8         1     0
11    0.7500  3.5000  2.5000  0.000000          3         1     0
12       NaN     NaN     NaN       NaN        NaN         1     0
13    1.0000  0.5000  1.0000  0.000000          6         1     0
14    1.0000  0.5000  2.0000  0.000000          5         1     0
15    1.0000  1.0000  0.5000  0.000000          6         1     0
16    1.0000  1.0000  1.0000  1.000000         56         1     0
17    1.0000  1.0000  2.0625  1.291667         48         1     0
18    1.0000  2.0000  0.5000  0.000000          6         1     0
19    1.0000  2.0000  1.0000  1.000000         56         1     0
20    1.0000  2.0000  2.0625  1.291667         48         1     0
21    1.0000  3.0000  0.5000  0.000000          5         1     0
22    1.0000  3.0625  1.0000  1.291667         48         1     0
23    1.0000  3.0375  2.0375  1.604167         40         1     0
24    1.5000  0.7500  0.7500  0.000000          4         1     0
25    1.5000  0.7500  1.5000  0.020833          8         1     0
26    1.3125  0.7500  2.6250  0.000000          4         1     0
27    1.5000  1.5000  0.7500  0.020833          8         1     0
28    1.5000  1.5000  1.5000  0.083333         16         1     0
29    1.3125  1.5000  2.6250  0.052083          8         1     0
30    1.5000  2.5000  0.7500  0.020833          8         1     0
31    1.5000  2.5000  1.5000  0.083333         16         1     0
32    1.3125  2.5000  2.6250  0.052083          8         1     0
33    1.3125  3.6250  0.7500  0.000000          4         1     0
34    1.3125  3.6250  1.5000  0.052083          8         1     0
35    1.2500  3.5000  2.5000  0.000000          3         1     0

In [4]:
bounds = [[-0.1, 2], [0, 2], [0, 10]]

je_out = eptm.cut_out(bounds)

In [5]:
eptm.remove(je_out)

In [9]:
vertices, faces, face_mask = eptm.triangular_mesh(eptm.coords)

canvas = scene.SceneCanvas(keys='interactive', show=True)

grid = canvas.central_widget.add_grid()
view = grid.add_view(0, 1)
#view = canvas.central_widget.add_view()
view.camera =  'turntable'
view.camera.aspect = 1


view.bgcolor = vp.color.Color('#aaaaaa')



mesh = vp.scene.visuals.Mesh(vertices=vertices,
                             faces=faces)

wire_pos = vertices[eptm.Nc:].copy()


wire = vp.scene.visuals.Line(pos=wire_pos, 
                             connect=faces[:, :2] - eptm.Nc,
                             color=[0.1, 0.1, 0.3, 0.8],
                             width=1)
ccenters = vp.scene.visuals.Markers(
        pos=eptm.cell_df[eptm.coords].values,
        face_color=[1, 1, 1])

# view.add(mesh)
view.add(wire)
# view.add(ccenters)
canvas.show()

app.run()

0

In [10]:
import vispy.io as io

In [11]:
io.write_mesh()

TypeError: write_mesh() missing 5 required positional arguments: 'fname', 'vertices', 'faces', 'normals', and 'texcoords'