In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
from scipy.spatial import Voronoi
import vispy as vp


import tyssue

from tyssue.core.objects import Epithelium
from tyssue.geometry import bulk_geometry as bgeom
from tyssue.core.generation import (data_dicts, make_df,
                                    hexa_grid3d, from_3d_voronoi)

from vispy import app, gloo, visuals, scene
from vispy.geometry import MeshData

### Scatter plots of the cell centers

```python
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import seaborn as sns


fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')
ax.scatter(*grid.T, c='k', marker='o')

ax.set_xlabel('X Label')
ax.set_ylabel('Y Label')
ax.set_zlabel('Z Label')

plt.show()
```

In [2]:
grid = hexa_grid3d(3, 4, 3)

datasets = from_3d_voronoi(Voronoi(grid))
eptm = Epithelium('start3D', datasets)

gspecs = eptm.set_geom(bgeom)
bgeom.update_all(eptm)
eptm.cell_df.head()

      num_faces     y       z  is_alive       vol      x  area
cell
0             4  0.75  0.5000         1  0.000000  0.750     0
1             8  0.75  0.5000         1  0.020833  1.500     0
2             4  0.75  0.6875         1  0.000000  2.625     0
3             8  1.50  0.5000         1  0.020833  0.750     0
4            16  1.50  0.5000         1  0.083333  1.500     0

In [3]:
eptm.cell_df

      num_faces       y       z  is_alive       vol       x  area
cell
0             4  0.7500  0.5000         1  0.000000  0.7500     0
1             8  0.7500  0.5000         1  0.020833  1.5000     0
2             4  0.7500  0.6875         1  0.000000  2.6250     0
3             8  1.5000  0.5000         1  0.020833  0.7500     0
4            16  1.5000  0.5000         1  0.083333  1.5000     0
5             8  1.5000  0.6875         1  0.052083  2.6250     0
6             8  2.5000  0.5000         1  0.020833  0.7500     0
7            16  2.5000  0.5000         1  0.083333  1.5000     0
8             8  2.5000  0.6875         1  0.052083  2.6250     0
9             4  3.6250  0.6875         1  0.000000  0.7500     0
10            8  3.6250  0.6875         1  0.052083  1.5000     0
11            3  3.5000  0.7500         1  0.000000  2.5000     0
12          NaN     NaN     NaN         1       NaN     NaN     0
13            6  0.5000  1.0000         1  0.000000  1.0000     0
14            5  0.5000  1.0000         1  0.000000  2.0000     0
15            6  1.0000  1.0000         1  0.000000  0.5000     0
16           56  1.0000  1.0000         1  1.000000  1.0000     0
17           48  1.0000  1.0000         1  1.291667  2.0625     0
18            6  2.0000  1.0000         1  0.000000  0.5000     0
19           56  2.0000  1.0000         1  1.000000  1.0000     0
20           48  2.0000  1.0000         1  1.291667  2.0625     0
21            5  3.0000  1.0000         1  0.000000  0.5000     0
22           48  3.0625  1.0000         1  1.291667  1.0000     0
23           40  3.0375  1.0000         1  1.604167  2.0375     0
24            4  0.7500  1.5000         1  0.000000  0.7500     0
25            8  0.7500  1.5000         1  0.020833  1.5000     0
26            4  0.7500  1.3125         1  0.000000  2.6250     0
27            8  1.5000  1.5000         1  0.020833  0.7500     0
28           16  1.5000  1.5000         1  0.083333  1.5000     0
29            8  1.5000  1.3125         1  0.052083  2.6250     0
30            8  2.5000  1.5000         1  0.020833  0.7500     0
31           16  2.5000  1.5000         1  0.083333  1.5000     0
32            8  2.5000  1.3125         1  0.052083  2.6250     0
33            4  3.6250  1.3125         1  0.000000  0.7500     0
34            8  3.6250  1.3125         1  0.052083  1.5000     0
35            3  3.5000  1.2500         1  0.000000  2.5000     0

In [4]:
bounds = [[-0.1, 2], [0, 2], [0, 10]]

je_out = eptm.cut_out(bounds)

In [5]:
eptm.remove(je_out)

In [6]:
vertices, faces, face_mask = eptm.triangular_mesh(eptm.coords)

canvas = scene.SceneCanvas(keys='interactive', show=True)

grid = canvas.central_widget.add_grid()
view = grid.add_view(0, 1)
#view = canvas.central_widget.add_view()
view.camera =  'turntable'
view.camera.aspect = 1


view.bgcolor = vp.color.Color('#000000')



mesh = vp.scene.visuals.Mesh(vertices=vertices,
                             faces=faces)

wire_pos = vertices[eptm.Nc:].copy()


wire = vp.scene.visuals.Line(pos=wire_pos, 
                             connect=faces[:, :2] - eptm.Nc,
                             color=[0.1, 0.1, 0.3, 0.8],
                             width=1)
ccenters = vp.scene.visuals.Markers(
        pos=eptm.cell_df[eptm.coords].values,
        face_color=[1, 1, 1])

view.add(mesh)
view.add(wire)
# view.add(ccenters)
canvas.show()

app.run()

/home/guillaume/anaconda/envs/tyssue/lib/python3.4/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)

0

In [6]:
import vispy.io as io

In [ ]:
io.write_mesh()