In [1]:
%load_ext autoreload
%autoreload 2


import tyssue

In [2]:
datasets = tyssue.core.generation.three_cells_sheet()

In [3]:
from tyssue.core.sheet import Sheet
sheet = Sheet('3cells_2D', datasets)

In [4]:
from tyssue.geometry import sheet_geometry as sgeom

In [11]:
gspecs['settings']['geometry'] = 'flat'

In [12]:

gspecs = sheet.set_geom(sgeom)

In [17]:
sgeom.update_all(sheet)

In [18]:

sheet.je_df

,ny,cell,trgt,dx,nx,srce,dy,length,nz,dz,sub_area,sub_vol
je,,,,,,,,,,,,
0,0,0,1,1.0,-0,0,0.000,1.000000,0.866,0,0.433,0.866000
1,0,0,2,0.5,-0,1,0.866,0.999978,0.866,0,0.433,1.299000
2,-0,0,3,-0.5,0,2,0.866,0.999978,0.866,0,0.433,1.615972
3,-0,0,4,-1.0,0,3,0.000,1.000000,0.866,0,0.433,1.731981
4,0,0,5,-0.5,0,4,-0.866,0.999978,0.866,0,0.433,1.615956
5,0,0,0,0.5,0,5,-0.866,0.999978,0.866,0,0.433,1.298990
6,-0,1,5,-0.5,0,0,0.866,0.999978,0.866,0,0.433,0.866000
7,-0,1,6,-1.0,0,5,0.000,1.000000,0.866,0,0.433,1.298990
8,0,1,7,-0.5,0,6,-0.866,0.999978,0.866,0,0.433,1.615972
9,0,1,8,0.5,0,7,-0.866,0.999978,0.866,0,0.433,1.732000
10,0,1,9,1.0,-0,8,0.000,1.000000,0.866,0,0.433,1.615972
11,0,1,0,0.5,-0,9,0.866,0.999978,0.866,0,0.433,1.298990
12,0,2,9,-0.5,0,0,-0.866,0.999978,0.866,0,0.433,0.866000
13,0,2,10,0.5,0,9,-0.866,0.999978,0.866,0,0.433,1.298990
14,0,2,11,1.0,-0,10,0.000,1.000000,0.866,0,0.433,1.615956
15,0,2,12,0.5,-0,11,0.866,0.999978,0.866,0,0.433,1.731981
16,-0,2,1,-0.5,0,12,0.866,0.999978,0.866,0,0.433,1.615972
17,-0,2,0,-1.0,0,1,0.000,1.000000,0.866,0,0.433,1.299000

In [16]:
sheet.jv_df['basal_shift'] = -2