In [1]:
%load_ext autoreload
%autoreload 2


import tyssue

In [2]:
datasets = tyssue.core.generation.three_cells_sheet()

In [5]:
from tyssue.core.sheet import Sheet
sheet = Sheet('3cells_2D', datasets)

In [6]:
sheet.cell_df

      num_sides  perimeter  area  x  y  is_alive  z
cell
0             6          0     0  0  0         1  0
1             6          0     0  0  0         1  0
2             6          0     0  0  0         1  0

In [7]:
cell = tyssue.objects.Cell(sheet, 0)

In [8]:

cell.je_orbit()

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64', name='je')

In [11]:
sheet.je_df

    nx  srce  trgt  length  cell  dy  dx  nz  ny  dz
je
0    0     0     1       0     0   0   0   0   0   0
1    0     1     2       0     0   0   0   0   0   0
2    0     2     3       0     0   0   0   0   0   0
3    0     3     4       0     0   0   0   0   0   0
4    0     4     5       0     0   0   0   0   0   0
5    0     5     0       0     0   0   0   0   0   0
6    0     0     5       0     1   0   0   0   0   0
7    0     5     6       0     1   0   0   0   0   0
8    0     6     7       0     1   0   0   0   0   0
9    0     7     8       0     1   0   0   0   0   0
10   0     8     9       0     1   0   0   0   0   0
11   0     9     0       0     1   0   0   0   0   0
12   0     0     9       0     2   0   0   0   0   0
13   0     9    10       0     2   0   0   0   0   0
14   0    10    11       0     2   0   0   0   0   0
15   0    11    12       0     2   0   0   0   0   0
16   0    12     1       0     2   0   0   0   0   0
17   0     1     0       0     2   0   0   0   0   0

In [13]:
import pandas as pd

In [22]:
%%timeit 
pd.MultiIndex.from_arrays(sheet.je_idx.values.T, names=['srce', 'trgt', 'cell'])

1000 loops, best of 3: 1.03 ms per loop

In [15]:
sheet.je_idx

    srce  trgt  cell
je
0      0     1     0
1      1     2     0
2      2     3     0
3      3     4     0
4      4     5     0
5      5     0     0
6      0     5     1
7      5     6     1
8      6     7     1
9      7     8     1
10     8     9     1
11     9     0     1
12     0     9     2
13     9    10     2
14    10    11     2
15    11    12     2
16    12     1     2
17     1     0     2